<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ahmed.arabic">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_books"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_books"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.ahmed.arabic.AboutActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.android.ahmed.arabic.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.ahmed.arabic.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.android.ahmed.arabic.SubStoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.ahmed.arabic.StoryDetailActivity"
            android:parentActivityName="com.android.ahmed.arabic.SubStoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.ahmed.arabic.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.ahmed.arabic.CommonWordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.ahmed.arabic.QuestionActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>